## **Trabajo Práctico Individual n° 2: Aprendizaje Supervisado**
____
__Universidad Tecnológica Nacional, Buenos Aires__\
__Ingeniería Industrial__\
__Ciencia de Datos - Curso I5521__
____

- Nombre: Giuliano
- Apellido: Tamagno
- Legajo: 1681989

En este trabajo práctico aplicaremos algunas técnicas aprendidas para el aprendizaje automático supervisado.

Utilizaremos un dataset de airbnb donde buscaremos predecir el precio de las noches de cada hogar en funcion de algunas variables.

#### Variables:
- Unnamed: 0: Variable de contador de registros (no será utilizada en nuetro análisis)
- neighbourhood: Barrio donde se encuentra ubicado la casa.
- room_type: Tipo de hogar en alquiler.
- price: Precio por noche.
- minimum_nights: Cantidad minimas de noches que pueden alquilar el hogar.
- number_of_reviews: Cantidad de reviews
- reviews_per_month: Tasa de reviews que tienen por mes
- calculated_host_listings_count: Cantidad de hogares ofrecidos por el host.
- availability_365: Cantidad de dias que se encuentra en alquiler el hogar

## **Objetivos del trabajo practico**
- resolver los requisitos que se detallan en las proximas celdas
- dejar comentarios # en cada linea de codigo que se agregue
- fecha limite de entrega: 13 de Octubre 2022 a las 23h59

In [1]:
## Importo librerías de maniupulación de datos
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
## Importo librerías de Aprendizaje automático
from sklearn import preprocessing
from sklearn import linear_model
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.utils import shuffle
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR, LinearSVR
from sklearn.metrics import mean_squared_error, make_scorer
from sklearn.model_selection import GridSearchCV

##### **Objetivo 1**
Lo primero que deberan hacer será importar
- el dataset bajo en nombre "london"
- corroborar que lo hayamos cargado correctamente.

In [3]:
ls

 El volumen de la unidad C no tiene etiqueta.
 El n£mero de serie del volumen es: F8A7-C01C

 Directorio de C:\Users\Giuliano\UTN.BA\UT¥o¤os - General\5to A¤o\Ciencia de datos\TP2

05/11/2022  07:46 p. m.    <DIR>          .
05/11/2022  07:46 p. m.    <DIR>          ..
05/11/2022  07:44 p. m.    <DIR>          .ipynb_checkpoints
05/11/2022  07:32 p. m.            78,416 ClusterAI_TP2_Supervisado_Giuliano_Tamagno.ipynb
05/11/2022  07:44 p. m.            65,103 ClusterAI_TP2_Supervisado_Giuliano_Tamagno-Copy1.ipynb
05/11/2022  07:46 p. m.            64,575 ClusterAI_TP2_Supervisado_Giuliano_Tamagno-Copy2.ipynb
03/11/2022  04:35 p. m.            12,508 ClusterAI_TP2_Supervisado_nombre_apellido (1).ipynb
22/10/2022  11:36 a. m.         2,640,367 TP2_airbnb_london.csv
               5 archivos      2,860,969 bytes
               3 dirs  135,267,835,904 bytes libres

In [4]:
## Cargo el csv al notebook y corroboro que se hay cargado correctamente

london = pd.read_csv("TP2_airbnb_london.csv")
london.head()

,Unnamed: 0,neighbourhood,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,0,Haringey,Private room,35,1,131,1.71,4,262
1,1,Ealing,Private room,70,2,2,0.07,6,62
2,2,Islington,Private room,45,1,14,0.14,2,364
3,5,Tower Hamlets,Entire home/apt,102,5,7,0.07,56,295
4,6,Barnet,Private room,29,5,114,1.13,3,285

##### **Objetivo 2**
Ahora imprimir también las dimensiones del dataset y eliminar la variable "Unnamed:0" del dataset.
Volver a guardar el dataset sin esta variable bajo el nombre "london"

In [5]:
#Eliminamos columnas que no nos interesan y chequeo que se haya eliminado

london = london.drop(['Unnamed: 0'],axis=1)
london.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51827 entries, 0 to 51826
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   neighbourhood                   51827 non-null  object
 1   room_type                       51827 non-null  object
 2   price                           51827 non-null  int64
 3   minimum_nights                  51827 non-null  int64
 4   number_of_reviews               51827 non-null  int64
 5   reviews_per_month               51827 non-null  float64
 6   calculated_host_listings_count  51827 non-null  int64
 7   availability_365                51827 non-null  int64
dtypes: float64(1), int64(5), object(2)
memory usage: 3.2+ MB

##### **Objetivo 3**
Corroborar que el dataset no cuenta con valores nulos, si los hubiera llenarlos todos con 0.

In [6]:
london.isnull().sum()

neighbourhood                     0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [7]:
## Como no hay valores nulos, no hago cambios

##### **Objetivo 4**
Mostrar el tipo de dato para las variables "neighbourhood" y "room_type".

In [8]:
## Muestro el tipo de datos de todas la variables
london.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51827 entries, 0 to 51826
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   neighbourhood                   51827 non-null  object
 1   room_type                       51827 non-null  object
 2   price                           51827 non-null  int64
 3   minimum_nights                  51827 non-null  int64
 4   number_of_reviews               51827 non-null  int64
 5   reviews_per_month               51827 non-null  float64
 6   calculated_host_listings_count  51827 non-null  int64
 7   availability_365                51827 non-null  int64
dtypes: float64(1), int64(5), object(2)
memory usage: 3.2+ MB

In [9]:
## Las variables "neighbourhood" y "room_type" son objetos

##### **Objetivo 5**
Generar las variables dummies para estas dos variables categóricas y unirlas al dataset london.

In [10]:
## Genero las dummies para la variable neighbourhood, dentro de la variable neigh_dummies.
neigh_dummies = pd.get_dummies(london['neighbourhood'] )

Imprimir las dimensiones y primeras lineas de estas dummies

In [11]:
neigh_dummies.shape

(51827, 33)

In [12]:
neigh_dummies.head()

,Barking and Dagenham,Barnet,Bexley,Brent,Bromley,Camden,City of London,Croydon,Ealing,Enfield,...,Merton,Newham,Redbridge,Richmond upon Thames,Southwark,Sutton,Tower Hamlets,Waltham Forest,Wandsworth,Westminster
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
## Genero las dummies para la variable room_type, dentro de la variable room_dummies.
room_dummies  = pd.get_dummies(london['room_type'] )

Imprimir las dimensiones y primeras lineas de estas dummies

In [14]:
room_dummies.shape

(51827, 3)

In [15]:
room_dummies.head()

   Entire home/apt  Private room  Shared room
0                0             1            0
1                0             1            0
2                0             1            0
3                1             0            0
4                0             1            0

Joinear las variables dummies al dataset

In [16]:
london = london.join(room_dummies)
london = london.join(neigh_dummies)

In [17]:
## Reduzco la cantidad de muestras para que el Gridsearch a realizar en el objetivo 10 sea mas agil
london = london.iloc[0:1800]
np.shape(london)

(1800, 44)

##### Dividiremos nuestro dataset en la variable dependiente "y" (label o etiqueta) y las variables independientes "x"

In [18]:
## Divido el dataset como indica el objetivo
## Dropeo de la variable "x" los contenidos que ya asigne a la variable "y" y las variables que transforme en dummies

y = np.array(london[["price"]])
x = london.drop(['price', 'neighbourhood','room_type'], axis=1)
x.head()

,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,Entire home/apt,Private room,Shared room,Barking and Dagenham,Barnet,...,Merton,Newham,Redbridge,Richmond upon Thames,Southwark,Sutton,Tower Hamlets,Waltham Forest,Wandsworth,Westminster
0,1,131,1.71,4,262,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,2,0.07,6,62,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,14,0.14,2,364,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,7,0.07,56,295,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,5,114,1.13,3,285,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

##### **Objetivo 7**

Dividir el dataset entre Train y Test, tomar un test_size del 30%.

In [19]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.30)

In [20]:
## Guardo de forma separada las variables dummies de las reales para no escalarlas ya que no seria correcto.

xtrainr= xtrain.iloc[:,0:5]
xtraind = xtrain.iloc[:,5:41]

xtestr = xtest.iloc[:,0:5]
xtestd = xtest.iloc[:,5:41]

##### **Objetivo 8**
Con el StandardScaler generado en la linea siguiente, realizar el transform para el xtrain y xtest guardandolos en nuevas variables llamadas "xtrain_scal" y "xtest_scal".

In [21]:
## Realizo el transform a ambas variables "xtrain_scal" y "xtest_scal".

scaler = preprocessing.StandardScaler().fit(xtrainr)

In [22]:
xtrain_scal = scaler.transform(xtrainr)
xtest_scal = scaler.transform(xtestr)

In [23]:
## Convierto las dummies a np.array para poder concatenarlas a los xtran y xtesx escalados

arrayxtraind = xtraind.to_numpy(dtype = 'float64')
arrayxtestd = xtestd.to_numpy(dtype = 'float64')

In [24]:
## Concateno las dummies con las variables ya escaladas

xtrain_scal = np.concatenate((xtrain_scal, arrayxtraind), axis = 1)
xtest_scal = np.concatenate((xtest_scal, arrayxtestd), axis = 1)

##### **Objetivo 9**
Crear un modelo lineal y entrenarlo para nuestro dataset.

Obtener las predicciones y el "mean_squared_error" para el test set.

In [25]:
## Defino la funcion regresion lineal

def lin_reg(x,y):
    n, m = x.shape
    I = np.identity(m)
    w = np.dot(np.dot(np.linalg.inv(np.dot(x.T, x)), x.T), y)
    return w

In [26]:
## Ejecuto la regresion lineal y guardo los pesos en "weights_ols"

weights_ols = lin_reg(xtrain_scal,ytrain)

In [27]:
## Genero las predicciones del modelo lineal
y_pred = np.dot(xtest_scal, np.asarray(weights_ols))

In [28]:
## Calculo el MSE de la las predicciones obtenidas

mse_lr = mean_squared_error(ytest, y_pred, squared = False)
print('MSE de Regresion lineal=', mse_lr)

MSE de Regresion lineal= 60.43359136747821

##### **Objetivo 10**
Crear un SVM Regressor y un GridSearch para realizar la búsqueda de hiperparámetros.

Asignar dos posibles valores para el parámetro "kernel", y tres posibles valores para "C" y "gamma".

Setear al parámetro "refit" en True y hacer 5 CrossValidation.

In [29]:
svreg = SVR()
param_svreg = {'kernel':('linear', 'rbf'), 'C':[1, 10, 100 ], 'gamma':[ 0.1,1,10]}
regressor_svr = GridSearchCV(svreg, param_svreg, cv=5, verbose=True, refit=True)
regressor_svr.fit(xtrain_scal, ytrain.ravel())

Fitting 5 folds for each of 18 candidates, totalling 90 fits

GridSearchCV(cv=5, estimator=SVR(),
             param_grid={'C': [1, 10, 100], 'gamma': [0.1, 1, 10],
                         'kernel': ('linear', 'rbf')},
             verbose=True)

##### **Objetivo 11**

Mostrar cuales fueron los mejores hiperparámetros y para estos obtener el mean_squared_error en el test set.

In [30]:
## Observamos el mejor modelo y combinacion de hiperparametros que ganaron en el cross validation
regressor_svr.best_params_

{'C': 100, 'gamma': 0.1, 'kernel': 'rbf'}

In [31]:
## Genero predicciones con mi modelo entrenado para las muestras de Test, utilizando solo Xtest

ypred2 = regressor_svr.predict(xtest_scal)

In [32]:
## Calculo el MSE entre las predicciones generadas y el ytest
mse_GS1 =mean_squared_error(ytest, ypred2)

print('MSE de GridSearch1=', mse_GS1)

MSE de GridSearch1= 1202.6557964919132

##### **Objetivo 12**
Repetir el objetivo 10 pero ahora seteando nuevos valores para los hiperparámetros mencionados con el objetivo de mejorar las predicciones.

Cuales son los mejores hiperparámetros ahora?
Obtenemos una mejora en las predicciones?
Mostrar los resultados.

In [33]:
## Reasigno valores a los hiperparametros buscando optimizar los resultados

svreg = SVR()
param_svreg = {'kernel':('linear', 'rbf'), 'C':[70,100,150 ], 'gamma':[ 0.01,0.1,0.5]}
regressor_svr = GridSearchCV(svreg, param_svreg, cv=5, verbose=True,refit=True)
regressor_svr.fit(xtrain_scal, ytrain.ravel())

Fitting 5 folds for each of 18 candidates, totalling 90 fits

GridSearchCV(cv=5, estimator=SVR(),
             param_grid={'C': [70, 100, 150], 'gamma': [0.01, 0.1, 0.5],
                         'kernel': ('linear', 'rbf')},
             verbose=True)

In [34]:
## Muestro los mejoros hiperparametros
regressor_svr.best_params_

{'C': 70, 'gamma': 0.1, 'kernel': 'rbf'}

In [35]:
## Genero las predicciones
ypred3 = regressor_svr.predict(xtest_scal)
ypred3

array([ 57.40625534, 111.38917095, 106.14928506, 157.22814724,
        43.17309528,  29.13138602,  99.37967493,  96.31986572,
        54.51759208,  59.74073777, 191.56003049,  54.18357896,
        61.45996722,  93.95767918,  50.48904274,  89.05488297,
       111.80574509,  89.41231334,  56.71341994,  39.75959324,
       118.77447958,  88.27891538,  42.64746619,  90.39979017,
        42.33356752,  45.86010849,  61.63104642,  92.7833065 ,
        77.75433407, 124.73587784,  36.18712999,  63.62543519,
        47.34483837,  88.64390865, 189.89423739,  60.0255146 ,
        80.66599631, 146.9837722 ,  49.69360097,  94.86597852,
       114.28238744,  46.20131038,  51.14215914,  79.53823866,
        39.52509413,  86.53541402,  43.88781764,  57.9215061 ,
        51.51637215,  57.3002361 ,  95.30010936, 103.9792458 ,
       117.38594134,  49.70605953, 128.97992231,  65.61902416,
        39.24467281, 111.43427199,  61.46879126,  97.96199488,
       138.1298365 ,  34.61851297,  30.98427923,  47.70646614,
        45.17717492,  48.69555252,  38.47626024,  35.98424898,
       122.20273532, 196.32226215, 125.64268614,  50.31545253,
        77.91022373,  50.21519126,  62.95596517, 107.03262057,
       130.74895266,  28.11074728, 117.73265123,  33.48431201,
       117.91719513,  35.68520678,  97.04929064,  89.2843681 ,
        50.11166738, 100.69620657, 120.03335461,  36.00738203,
        43.57397744,  84.9785516 ,  45.79025014, 195.88933217,
        37.04070948, 126.45810052,  53.62657935,  36.4270904 ,
        26.25279677,  31.76725684, 104.75138394,  51.60604643,
        44.35037125,  40.91336261,  85.10531183, 102.78327431,
        26.90177452,  42.61352818,  41.24617597,  57.60341146,
        44.24959225,  24.19931571,  34.83904078,  97.29853773,
        37.52978163, 111.60459891, 100.13498832, 171.23817988,
        97.62477741, 113.71725957,  88.38007045,  87.36830723,
        89.46922576,  53.69329567,  39.08056542,  83.36221587,
       134.44784373,  90.93498496, 102.44110468,  40.42051078,
        57.75624905,  36.41959895,  60.62951258, 104.34756769,
        49.03921806,  57.75342385,  82.97563866,  29.33885324,
        41.14258148, 154.34902328,  55.46556338, 113.96275237,
       137.76004961, 137.65657357,  96.83818337, 104.76975846,
       133.22152186, 115.86001258,  40.13375981,  52.21365371,
        45.46318051, 148.37150222, 151.42393598, 149.97360217,
       101.54750212,  92.32611155,  40.31820826,  50.6700671 ,
        39.62534522,  35.70307327, 159.97405278, 104.27686526,
       111.34020776,  31.23637947,  51.63802946, 126.5439985 ,
        65.39210647, 115.11154941,  44.4649334 , 108.63327234,
        32.69647667, 108.80055083, 118.64203347,  57.53140869,
        86.94250727,  51.63335372,  34.18078249,  40.42256974,
        79.83637052,  45.80723632,  87.77522383, 110.33313024,
       109.14305552,  40.84227761,  89.37524325,  55.46563314,
       123.13917749, 103.66558485, 111.93663414,  43.14496098,
       109.96298236,  36.132485  , 133.32986694, 104.81667729,
       127.94451689, 119.3140496 , 128.43141274,  47.20765633,
        80.69131368,  46.28145626, 115.30059743,  51.4955148 ,
        59.25734698,  46.4694302 , 104.60358372,  98.55694611,
        46.41771723, 129.48315772, 122.96333174, 118.2764322 ,
        51.28506586, 112.40158247,  42.87399586,  92.42323229,
       105.70579098,  74.71521443,  35.16705938,  41.60417328,
       110.99908094,  57.01599285,  52.22779314, 116.33887711,
        48.12902467, 111.2058933 ,  15.60149385,  98.42659249,
        50.22223951,  33.32163065,  91.47470185, 107.062169  ,
        96.24771363, 120.18788048,  49.39588959,  57.9409273 ,
        42.75045805,  89.63029725,  74.74742112,  91.78964675,
        48.13768592,  55.63360854,  98.98807191, 162.58676619,
        55.20858764,  90.21798134,  50.45506981, 126.28525937,
        30.51444263, 128.96518987,  87.12804436, 124.4002064 ,
       133.32896366,  45.09845817,  66.62372213,  53.23908271,
        81.87676004,  34.32243254,  50.51021391,  77.30068395,
        62.05835358, 123.67599238,  86.41796221,  47.79362756,
        97.26753293, 151.88725603,  58.1497258 ,  34.49661912,
        33.11690756,  82.27946356,  94.57806462,  42.45956934,
        44.59790931,  70.06001105,  40.88853495, 171.39722706,
       165.04820528,  69.62164229,  57.17429839,  52.78400848,
       118.71583466,  45.19507906,  44.25206005, 103.44699533,
        91.79094382, 153.55191245,  48.20915615,  46.91199853,
       143.76806412,  26.1798088 ,  72.86233922,  83.50162762,
        34.53795456, 105.15607674, 148.5086967 ,  89.56426704,
       122.15901944, 105.87806087, 127.36376599,  52.92607042,
        41.67666998,  97.44140416,  44.82806069, 113.86204536,
       105.70306062,  49.00904264, 160.19852005,  46.22697635,
        93.79526899,  34.85842686,  30.96471352,  27.81782753,
       133.24831204,  35.3098138 ,  52.51782597, 113.45006512,
        63.89711103,  47.52333646, 100.04829092,  88.91634974,
        99.55169599, 142.73642947,  53.20702249, 143.49729739,
        33.98020617,  50.72308604,  85.95029724, 100.03319715,
       102.47028128,  90.0078014 ,  34.69689452,  31.34767159,
        73.4977023 ,  42.27134782,  45.00520063, 113.41786607,
       101.10208554,  61.19484668,  52.98697133,  48.3975532 ,
        99.83222001, 111.21454601, 152.59285816,  45.18013805,
        36.56845372,  94.12181226,  67.23177203, 112.48769412,
        44.8069514 , 114.07911405,  97.23599984,  41.8717715 ,
       108.93430839,  48.79794454, 179.77752157,  38.00861415,
        29.79422519,  40.81866088, 107.84209641, 109.24376015,
        95.88499488,  26.53318052,  33.64898041, 102.39468894,
        43.21388291,  64.77994107, 105.57697677,  45.45043574,
       115.48312519,  50.89412375,  91.28760386, 132.89422623,
       111.07928122,  37.6337686 ,  48.74514617, 112.87252467,
        38.40651554,  47.23840505, 115.09166144,  47.97856707,
       103.72042812,  50.90032553,  61.73758533,  48.40432703,
       151.01218471, 103.83411996, 122.96276761,  72.89610965,
        45.59443359,  52.34188346,  62.14825995, 110.49966939,
       109.8884184 ,  87.50475736,  39.96993458,  85.91507159,
       125.78284491, 134.70020787, 125.24838383,  77.87010861,
        38.55010926,  46.29202932,  27.34702312,  26.50382374,
        47.97305701,  35.69673273,  50.89501385,  49.93096321,
       124.7621037 ,  38.73121484, 130.89488139,  52.06448579,
        57.01896516, 126.31243812, 117.77017878,  60.64032346,
        42.7587512 ,  32.24320444,  46.31397192, 111.31053141,
       113.24936921, 118.23961357,  75.32839797, 112.46399514,
        83.70173861,  57.03373742, 115.20661601,  42.53137291,
        98.63295365,  48.77663372,  22.95160507,  99.98546843,
        72.59664057, 101.35357448,  37.92655436,  41.56006331,
        40.91299393,  36.38262238, 134.84949251,  99.73131871,
       142.5302973 ,  36.95988521, 105.95418015, 121.40979925,
       139.52893927, 135.7504178 ,  44.00339652,  40.31151785,
        50.63718875,  42.81664455,  54.0183635 ,  34.04758538,
        84.47402401,  37.60259199,  54.49493124, 146.41360933,
       109.8493864 ,  81.79300513,  35.24509638, 111.04148346,
       105.0644366 ,  53.65662158, 174.07414792,  48.09503457,
        51.08733501,  42.73812963,  80.56302705,  36.08687044,
        39.71357113, 101.21708581,  86.78744186, 102.6456303 ,
        39.90791359,  50.32931059,  91.03671094,  38.00444121,
        52.34968747,  75.46824608,  39.56159558,  88.76536208,
        39.37706392, 110.33213133,  34.10854572, 142.1155803 ,
       103.48423981, 116.04776473,  92.40704239,  49.8365442 ,
        33.63618722,  65.68588286, 109.67181524,  50.68463349,
        34.04323197,  84.66145857,  97.05263357,  95.24253527,
        82.34508014,  40.15963608,  37.99553211,  55.06390312,
        52.70902473,  88.43053222,  35.30241328, 105.03612495,
        62.13821305, 106.99747338, 100.4962329 ,  86.37599165,
        55.47803357,  33.88192159,  98.46213798, 149.37758127,
        84.67495812,  49.27555021,  41.89028956, 112.27274557,
        92.31191428,  27.70363049, 104.63892661,  54.50472405,
        81.82591188,  38.45581823, 105.12496522,  93.06382849,
        97.87328253, 115.07483711, 118.63819947,  38.29110948,
        44.54677488,  94.16156586,  43.13330996, 130.83576408,
       102.66267366,  50.41350444,  41.76884914,  36.04049279,
       190.0607174 ,  44.94901752, 117.23980098, 117.63262282,
        44.89731105,  49.28198184,  48.02393621,  83.23385475])

In [36]:
## Calculo el MSE entre las predicciones generadas y el ytest

mse_GS2 =mean_squared_error(ytest, ypred3)
print('MSE de GridSearch2=', mse_GS2)

MSE de GridSearch2= 1190.3243802113725

In [37]:
## Resumen de los resultados

print('MSE de Regresion lineal=', mse_lr)
print('MSE de GridSearch1=', mse_GS1)
print('MSE de GridSearch2=', mse_GS2)

MSE de Regresion lineal= 60.43359136747821
MSE de GridSearch1= 1202.6557964919132
MSE de GridSearch2= 1190.3243802113725

In [ ]:
## Conclusiones:
## Se encontraron mejores hiperparametros en el 2do GridSeach.
## El mejor modelo de prediccion resulto ser la regresion lineal, ya que tiene el MSE mas bajo.